%h1 Нутриенты
= link_to "Добавить новый", new_nutrient_path, class: "btn btn-info"

.row
  .col-md-12
    %table.table
      %thead
        %th Название
        %th Калорий в грамме
        %th Процентов в пище
        %th Действия
      %tbody
        - @nutrients.each do |n|
          %tr
            %td
              = n.name
            %td
              = n.cal_per_gram
              калл на грамм
            %td
              = n.percents
              \%
            %td
              = link_to "Редактировать", edit_nutrient_path(n), class: "btn btn-warning btn-xs"
              = link_to "X", nutrient_path(n), method: :delete, data: {confirm: "Точно?"},
                class: "btn btn-danger btn-xs"
